.hidden{
	display: none;
}

/* -- GENERAL STYLING -- */

body {
    padding: 0;
    padding-bottom: 150px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

button {
    cursor: pointer;
    outline: none;
}

input {
    outline: none;
}

h1{
    text-align: center;
    font-weight: 900;
    letter-spacing: 10px;
    font-size: 4em;
    color: #00358c;
}

/* ---- SEARCHFIELD STYLING ---- */

#searchForm {
    background: #00358c;
    padding: 20px;
    width: 100vw;
}

#upperForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#upperForm button {
    padding: 5px 16px;
    letter-spacing: 1px;
    margin: 0 15px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
}

#upperForm select {
    font-size: 1em;
    letter-spacing: 1px;
    background: white;
    border: none;
    margin: 0 15px;
    height: 20px;
}
#lowerForm {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#lowerForm input {
    outline: none;
    padding: 10px 15px;
    width: 100%;
    max-width: 700px;
    border-radius: 30px 0px 0px 30px;
    border: none;
    font-size: 1em;
}

#lowerForm button {
    background: white;
    padding: 5px 15px;
    border-radius: 0px 30px 30px 0px;
    border: none;
}

#lowerForm button img {
    height: 20px;
}

#autoCompleteOutput{
    background: rgba(255,255,255,0.9);
    position: absolute;
    width: 750px;
    right: 0;
    left: 0;
    margin: auto;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}

#autoCompleteOutput ul {
    padding: 20px;
    margin: 0;
}

#autoCompleteMessage{
    padding: 10px 30px;
    text-decoration: underline;
}

.searchDraft{
    padding: 10px;
    list-style-type: none;
}
.searchDraft span {
    color: #565656;
    font-weight: 900;
}
.searchDraft:hover{
    background: rgba(225,225,225); 
}

/* ---- MAIN STYLING ---- */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#amountOfJobs {
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.1em;
    margin: 25px 0;
    font-weight: 600;
}

.latestJobs, .jobDetails, .outputSavedJobs {
    background: #e5e5e5;
    border-radius: 10px;
    padding: 40px;
    width: 850px;
    margin: auto;
    margin-bottom: 10px;
}

.outputSavedJobs{
    background: #fff;
}

.latestJobs h3, .jobDetails h3 {
    font-size: 1.3em;
    font-weight: 900;
    margin: 0;
}

.latestJobs span, .jobDetails span {
    font-weight: 700;
}

.jobDetails input {
    font-size: inherit;
    width: 100%;
    padding: 12px 0 12px 12px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
}

#outputShareSearchResult {
    font-size: inherit; 
    max-width: 914px;
    width: 100%;
    padding: 12px 0 12px 12px;
    border: none;
    border-radius: 6px;
    margin-bottom: 12px;
    box-shadow: 0px 0px 10px #3c3c3c;
}

.latestJobs button, .jobDetails button, .outputSavedJobs button {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    background: #00358c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: 200ms;
}

.latestJobs button:hover, .jobDetails button:hover, .outputSavedJobs button:hover {
    background: #0049c1;
}

.outputSavedJobs button {
    padding: 5px 10px;
}

.outputSavedJobs {
    margin-top: 16px;
}

.outputSavedJobs h2{
    margin: 0;
}

.outputSavedJobs ul {
    list-style: none;
    padding: 0;
}

.outputSavedJobs li {
    margin-bottom: 8px;
}

.outputSavedJobs ul li button {
    margin-left: 8px;
}

#pagineringWrapper{
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

#pagineringWrapper button{
    padding: 3px 5px;
    background: #00358c;
    border: none;
    border-radius: 5px;
    transition: 200ms;
}

#pagineringWrapper button:hover{
    background: #0049c1;
}

#pagineringWrapper button img {
    height: 15px;
}

#pageNumber{
    padding: 0 20px;
}

.popupBackground{
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

#shareSearchResultButton {
    background: #00358c;
    color: white;
    padding: 10px 20px;
    margin-bottom: 8px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    transition: 200ms;
    position: fixed;
    right: 20px;
    bottom: 60px;
}

#shareSearchResultButton:hover{
    background: #0049c1; 
}

#savedAds {
    background: #00358c;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    transition: 200ms;
    position: fixed;
    right: 20px;
    bottom: 30px;
}

#savedAds:hover{
    background: #0049c1; 
}